.header{
    
    background-color: #121313;
}
/* .header h1{
    padding-left: 3%;
    margin: 0;
    font-size: 40px;
    color: blueviolet;
} */

#menu a{

   color: rgb(253, 251, 251);
    font-size: 19px;
    
}

